body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: none;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #ccf1fb;
}
#myfilter {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
#myrestartbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#myrestartbutton > button{
    width: 100%;
    font-size: 20px;
}
